<footer class="blog-footer footer-dark bg-dark absolute-bottom" 
style="background-color: #000000!important; color: white;">
  <div class="row">
    <div class="col-6 col-md">
      <h5>Alamat</h5>
      <ul class="list-unstyled text-small">
        <li>
          Jl.Harimau Siberia No.80, Kelurahan Pejaten, 
        </li>
        <li>
          Kecamatan Pasar Minggu, 
          Jakarta Selatan
        </li>
        <li>
          Kode Pos 18907
        </li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Sosial Media</h5>
      <ul class="list-unstyled text-small">
        <li>
          Instagram
        </li>
      </ul>
    </div>
  </div>

  </footer>